
* {margin: 0;
padding: 0;}

/*seketor elementu*/
p {
    font-size: 20px;
}
/*selektor identyfikatora*/
#testowy {
    background-color: aqua;
}
/*selektor klasy */

.testowy_inner {
    color: green;
    font-size: 26px;    
}
/*selektor potomka*/
#selektor_potomka p {
    font-size: 30px;
    color: red;
}
/*selektor dziecka*/
#selektor_dziecka > p {
    font-size: 38px;
    color: violet;
}
/*selektor braci*/
#selektor_braci span + p {
    color: black;
    background-color: aquamarine
}
/*psedoelementy nieistnieja bez ustawionej wlasciwosci content*/
#pseudoelementy h1::before {
    content: ' Lorem';
    color: red;
}
#pseudoelementy h1::after {
    content: 'Lorem ';
    color: green;
}
#pseudoelementy h1::first-letter {
    color: yellow;
}
#pseudoelementy .first_line::first-line {
    color: brown
}
/*pseudoklasa visited do stylowania nieodwiedzonych linkow*/
#linki a:link {
    color: grey;
}
#linki a:visited {
    color: pink;
}
#linki a:hover {
    color: red;
}
#linki a:active {
    color: orange;
}
/*pseudoklasa focus kiedy uzupelniamy inputy*/
#inputy input {
    width: 99%;
    margin-bottom: 20px;
}
#inputy input:focus {
    border: 3px solid red;
}
/*pseudoklasa targer=t okresla co ma sie stac z elementem do ktorego prowadzi kotwica*/
:target {
    border: 1px solid black;
}

div {        
    background-color: grey;
}
div:lang(pl) {
    background-color: yellow;
}
#lista-dzieci ul .list_item {
    font-size: 20px;
    color: green;
}

#lista-dzieci ul .list_item:first-child {
        size: 20px;
        color: blue;
}
#lista-dzieci ul .list_item:last-child {
        size: 20px;
        color: red;
}

#jedyne_dziecko span:only-child {
    font-style: italic;
    font-size: 30px;
    color:greenyellow;
}
div:empty {
    display: block;
    width: 300px;
    height: 300px;
    background-color: red;
}
/*pseudoklasy :nth-child() i nth-last-child () sluza do okreslania elementow dzieci mozemy wziac konkretne dziecko parzyste/nieparzyste lub utworzyc dokladny wzor wyboru*/
#kontener .iner {
    display: inline-block;
    height: 300px;
    background-color: red;
    margin-bottom: 20px;
    width: 33%;
    float: left;
    margin-right: 0.5%;
}

/*
#kontener .iner:nth-child(3),
#kontener .iner:nth-child(6) {
    margin-right: 0;
}
*/

#kontener .iner:nth-child(3n+3) {
    margin-right: 0;
}
    

#kontener .iner:nth-child(even) {
    background-color: yellow;
}
    

.clear {
    clear: both;
    display: block;
    width: 100%;
}
/*selektor atrybutow*/
input[type] {
    background-color: darkgreen;
}

input[type=submit] {
    background-color: darkcyan;
}













